<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                {{account.username}}  {{account.password}}  {{account.email}}
            </div>
            <div class="col-sm-2">
                {{account.userType}}
            </div>
            <div class="col-sm-2 pull-right">
                {{#if isBanned}}
                    <button class="btn btn-success" {{action "unbanUser" account}}>UNBAN</button>
                {{else}}
                    <button class="btn btn-danger">BAN</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{yield}}